/*body{*/
    /*padding-top: 70px;*/
/*}*/

.container button{
    width: 100%;
    margin-top: 10px;
}
.container .box{
    display: -webkit-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
.container .box .info{
    margin-top: 5px;
    width: 5%;
    border: 0;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    margin-bottom: 10px;
}
.radio{
    margin-bottom: 10px;
}
#username,#password,#repassword,#height,#weight,#waist,#hipline,#telephone{
    width:95%;
    height: 100%;
    padding-top: 20px;
    border:0;
}
@media (min-width: 480px){
    .container .box .info{
        width: 15%;
    }
    #username,#password,#repassword,#height,#weight,#waist,#hipline,#telephone{
        width: 85%;
    }
}
@media (min-width: 320px){
    .container .box .info{
        width: 25%;
    }
    #username,#password,#repassword,#height,#weight,#waist,#hipline,#telephone{
        width: 75%;
    }
}
@media (min-width: 768px){
    .container .box .info{
        width: 10%;
    }
    #username,#password,#repassword,#height,#weight,#waist,#hipline,#telephone{
        width: 90%;
    }
}
@media (min-width: 992px){
    .container .box .info{
        width: 6%;
    }
    #username,#password,#repassword,#height,#weight,#waist,#hipline,#telephone{
        width: 94%;
    }
}
.am-dropdown-content a{

    color:#303435;
}
/*@media (max-width: 992px){*/
/*.container . box .info{*/
/*width: 6%;*/
/*}*/
/*#username,#password{*/
/*width: 94%;*/
/*}*/
/*}*/
